## Hey there 👋 I'm MrBartusek

I'm a {{age}} years old developer from Poland. Making stuff that some folks like as it
seams. This Readme uses two libraries that I made:  [TechnologyShields](https://github.com/MrBartusek/TechnologyShields) and
[ReadmeActivityFeed](https://github.com/MrBartusek/ReadmeActivityFeed). I also own [dokurno.dev](https://dokurno.dev/) so that's cool.

### Stuff I use

All of the shiny libraries, languages, technologies and platforms that i've any experience in. There is one Pokémon hidden here.

{{{technologies}}}

### Stuff I made

These are some of my open source projects

{{#projects}}
- **[{{name}}]({{url}})** {{description}}
{{/projects}}

### Github Stats

[![Contribution Stats](https://github-contribution-stats.vercel.app/api/?username=MrBartusek)](https://github.com/LordDashMe/github-contribution-stats/)

### ⚡ Recent Activity

{{{activity}}}
