## Hey there 👋 I'm MrBartusek</h2>

I'm a {{age}} years old developer from Poland. Making stuff that some folks like it
seams. I also own [dokurno.dev](https://dokurno.dev/) so that's cool.

### Stuff I use

{{technologies}}

### Stuff I made

{{#projects}}
- **[{{name}}]({{url}})** {{description}}
{{/projects}}

### Github Stats
![stats](https://github-readme-stats.vercel.app/api?username=MrBartusek&count_private=true&show_icons=true&theme=react)

### Recent Activity

<!--START_SECTION:activity-->
<!--END_SECTION:activity-->

*This README was built using [mustache.js](https://github.com/janl/mustache.js) and [TechnologyShields](https://github.com/MrBartusek/TechnologyShields)*
