<h1>Hey, I'm MrBartusek</h1>

<p>I'm Self-Taught Hobbyst Developer from <img src="https://www.flaticon.com/svg/static/icons/svg/197/197529.svg" width="13"/> <b>Poland</b> . Curretnly working on mine, and others, Open-Source Projects ❤️</p>

<h3>My Projects</h3>
<p>This list contains all of my featured open-source projects.</p>
<table>
	<thead align="center">
		<tr border: none;>
		<td><b>🔥 Project</b></td>
		<td><b>⭐ Stars</b></td>
		<td><b>📚 Forks</b></td>
		<td><b>🛎 Issues</b></td>
		<td><b>📬 Pull requests</b></td>
	</tr>
	</thead>
	<tbody>
	{{#open_source_projects}}
	  <tr>
			<td><a href="https://github.com/{{github}}"><b>{{name}}</b></a> - {{description}}</td>
			<td><img alt="Stars" src="https://img.shields.io/github/stars/{{github}}?style=flat-square&labelColor=343b41"/></td>
			<td><img alt="Forks" src="https://img.shields.io/github/forks/{{github}}?style=flat-square&labelColor=343b41"/></td>
			<td><img alt="Issues" src="https://img.shields.io/github/issues/{{github}}?style=flat-square&labelColor=343b41"/></td>
			<td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/{{github}}?style=flat-square&labelColor=343b41"/></td>
		</tr>
	{{/open_source_projects}}
	</tbody>
</table>

<h3>Open Source Contributions</h3>
<p>
	I contributed to <b>{{total_projects}} Open Source Projects</b>. 
	Opening <b>{{total_issues}} Issues</b> and <b>{{total_pull_requests}} Pull Requests</b>.<br>
	This section lists most the important ones.<br>
	<a href="https://github.com/issues?q=is%3Aissue+author%3AMrBartusek">See all Issues</a> | <a href="https://github.com/issues?q=is%3Apull_request+author%3AMrBartusek+">See all Pull Requests</a>
<table>
	<thead align="center">
		<tr border: none;>
		<td><b>🔥 Project</b></td>
		<td><b>📬 Pull requests</b></td>
		<td><b>🛎 Issues</b></td>
	</tr>
	</thead>
	<tbody>
	{{#open_source_contributions}}
	  <tr>
			<td><a href="https://github.com/{{name}}"><b>{{name}}</b></a></td>
			<td align="center"><img  alt="Pull Requests" src="https://img.shields.io/badge/pull%20requests-{{pull_requests}}-blueviolet?style=flat-square&labelColor=343b41"/></td>
			<td align="center"><img alt="Issues" src="https://img.shields.io/badge/issues-{{issues}}-blue?style=flat-square&labelColor=343b41"/></td>
		</tr>
	{{/open_source_contributions}}
	</tbody>
</table>

------------
<p align="center">
	This <i>README</i> is automaticly generated <b>every 3 hours</b>!<br>
	Last refresh: <b>{{refresh_date}}</b><br>
	Based on <a href="https://github.com/thmsgbrt/thmsgbrt">Thomas Guibert's</a> and couple others READMEs.<br>
	<img alt="build" href="github.com/MrBartusek/MrBartusek/workflows/README build/badge.svg" />
</p>
